<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Taxi Monitoring Dashboard</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
		font-family: arial;
      }
      #map {
        height: 60%;
		width: 80%;
		margin: 0 auto;
      }
	  .divBox{
	  	float: left; 
		width: 33%;
	  }

    </style>
  </head>
  <body>
	  
	<h1 style="margin-left: 20px;">Taxi Monitoring Dashboard</h1>
	<span id="currenttime"></span>
    <div id="map"></div>
	<div style="width: 80%; margin: 0 auto;">
		<div id="test" class="divBox">
			<div style="padding: 10px;" >
				Currently driving taxis
				<br />
				<br />
				<span id="currtentTaxisDriving"></span>
				<br />
				<br />
				Overall Distance of all Taxis
				<br />
				<br />
				<span id="overallDistance"></span>
			</div>
		</div>
		<div class="divBox">
			<div style="padding: 10px;">
				Area violations
				<br />
				<br />
				<div id="areaViolations" style="background-color: #f2f2f2; height: 200px; width: 80%; overflow: auto;"></div>

			</div>
		</div>
		<div class="divBox">
			<div style="padding: 10px;">
				Console
				<br />
				<br />
				<div style="background-color: #f2f2f2; height: 200px; overflow: auto;">
					<ul id="console"></ul>
				</div>
			</div>
		</div>
		<div style="clear: left;"></div>
	</div>
	
	
<script>
var googleMap;
var taxis = [];
var ignore = [];
var areaViolations = [];


function initWebsocketClient(){


	var evtSource = new EventSource("/stream");

	evtSource.onmessage = function(e) {
  		var str = e.data;
  		//console.log(str);

		try{
  			var fields = str.substr(2,str.length-3).split(",");

			switch(fields[1]){
				case 'NotifyOutofBoundsBolt':
					if(fields[2] == ">10")
						areaViolations_add(fields[0]);
					if(fields[2] == "<10")
						areaViolations_remove(fields[0]);
					if(fields[2] == ">15"){
						marker_set_visible(fields[0], false);
						console_output("Taxi "+fields[0]+" left area");
						taxi_set_ignore(fields[0], true);
					}
					if(fields[2] == "<15"){
						marker_set_visible(fields[0], true);
						console_output("Taxi "+fields[0]+" entered area");
						taxi_set_ignore(fields[0], false);
					}
				break;
				case 'NotifySpeedingBolt':
					console_output("Taxi "+fields[0] + ": " + fields[2]);
				break;
				case 'TaxiTotal':
					updateCurrentNumTaxisDriving(fields[2]);
				break;
				case 'DistanceTotal':
					updateOverallDistance(fields[2]);
				break;
				case 'LocationBolt':
				    console.log(fields[0] + ': new Location ' + parseFloat(fields[2]) + ' ' +  parseFloat(fields[3]));
					updateTaxiLocation(fields[0], parseFloat(fields[2]), parseFloat(fields[3]));
				break;
			}

		}
		catch(err){
			console.log("error with: "+str);
		}
	}
}

function console_output(val){
	var li = document.createElement("li");
	li.innerHTML = new Date().toLocaleTimeString() +": "+ val;
	document.getElementById("console").insertBefore(
		li, document.getElementById("console").firstChild);
}

function marker_set_visible(id, visible){
	if (typeof taxis['taxi'+id] === 'undefined')
		taxis['taxi'+id] = new google.maps.Marker({
        	position: {lat: 1, lng: 1},
        	map: googleMap,
        	title: 'taxi'+id,
            label: id
		});
	taxis['taxi'+id].setVisible(visible);
}

function updateCurrentNumTaxisDriving(val){
	document.getElementById("currtentTaxisDriving").innerHTML = val;
}

function updateOverallDistance(val){
	document.getElementById("overallDistance").innerHTML = val;
}

function updateTaxiLocation(id, lati, longi){
	if (typeof taxis['taxi'+id] !== 'undefined') 
		taxis['taxi'+id].setPosition({lat: lati, lng: longi});
	else
		taxis['taxi'+id] = new google.maps.Marker({
        	position: {lat: lati, lng: longi},
        	map: googleMap,
        	title: 'taxi'+id,
            label: id
		});
}  

function areaViolations_add(id){
	if(areaViolations.indexOf(id) != -1)
		return;
	areaViolations.push(id);
	areaViolations_draw();
}

function areaViolations_draw(){
	var out = "<ul>";
	areaViolations.forEach(function(entry) {
		if(!ignore_taxi(entry))
	    	out += "<li>Taxi " + entry + "</li>";
	});
	document.getElementById("areaViolations").innerHTML = out+"</ul>";
}

function ignore_taxi(id){
	var index = ignore.indexOf(id);
	if(index == -1)
		return false;
	return true;
}

function taxi_set_ignore(id, ign){
	if(ign){
		if(ignore.indexOf(id) != -1)
			return;
		ignore.push(id);
	}
	else{
		var index = ignore.indexOf(id);
		if(index == -1)
			return;
		ignore.splice(index, 1);
	}
	areaViolations_draw();
}

function areaViolations_remove(id){
	var index = areaViolations.indexOf(id);
	if(index == -1)
		return;
	areaViolations.splice(index, 1);
	areaViolations_draw();
} 
  
function initMap() {
  var myLatLng = {lat: 39.9164462, lng: 116.3956914};

  googleMap = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: myLatLng
  });

    var cityCircle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.0,
        map: googleMap,
        center: myLatLng,
        radius: 15000
    });

    cityCircle = new google.maps.Circle({
        strokeColor: '#0000FF',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.0,
        map: googleMap,
        center: myLatLng,
        radius: 10000
    });
  initWebsocketClient();
}

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIozUAhE4uCPm80ZVKUIM9frXC28y7ijY&signed_in=true&callback=initMap"></script>
  </body>
</html>
